[user]
	email = pugurmc@gmail.com
	name = pugur
	signingkey = 73D2CA77B0C28F41
[init]
	defaultBranch = main
[sequence]
	editor = vim
[core]
	editor = vim
	symlinks = true
	pager = delta
[gpg]
	program = /usr/sbin/gpg
[commit]
	gpgsign = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[merge]
	conflictstyle = zdiff3
